DEV_DB_NAME=dev_db
TEST_DB_NAME=test_db
PROD_DB_NAME=prod_db
NODE_ENV=production or development or test
PORT=5000
JWT_SECRET=my_supersecret_jwt_secret

DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=prod_db
DB_MULTIPLE_DATABASES=test_db,dev_db

REDIS_CONNECTION=local
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=