DEV_DB_NAME=mwf_task_dev
TEST_DB_NAME=mwf_task_test
PROD_DB_NAME=mwf_task
NODE_ENV=production
PORT=5000
JWT_SECRET=&jcu)hf6u-@y+%b9m8#^z$1-b7y=m)2#5en0ie^(6snbzt(8q

DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=mwf_task
DB_MULTIPLE_DATABASES=mwf_task_dev,mwf_task_test

REDIS_CONNECTION=local
REDIS_HOST=redis
REDIS_PORT=6379
REDIS_PASSWORD=